@page
@using Acme.BookStore.Authors
@using Acme.BookStore.Localization
@using Microsoft.Extensions.Localization
@using Acme.BookStore.Web.Pages.Authors
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal

@model DetailModalModel
@inject IStringLocalizer<BookStoreResource> L
@{
    Layout = null;
}

<form method="post" asp-page="/Authors/DetailModal">
    <abp-modal size="ExtraLarge">
        <abp-modal-header>
            <abp-row>
                <abp-column>@L["DetailAuthor"]</abp-column>

            </abp-row>
        </abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Id" />
            <div class="mb-3">
                <label>@L["Name"]</label>
                <input asp-for="Author.Name" required readonly class="form-control" />
            </div>
            <div class="mb-3">
                <label>@L["DoB"]</label>
                <input asp-for="Author.DoB" onchange='checkDate()' id="from-datepicker" required readonly class="form-control" />
            </div>

            

            <div class="mb-3">
                <label>@L["ShortBio"]</label>
                <textarea asp-for="Author.ShortBio" id="shortEdit" rows="3" readonly></textarea>
            </div>
        </abp-modal-body>
        
    </abp-modal>
</form>
